.navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    height: 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.navbar>.container>.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar>.container>.left span {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
}

.navbar>.container input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 500px;
}

.navbar>.container .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.navbar>.container .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar>.container .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.navbar>.container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* Media queries */
@media (max-width: 768px) {
    .navbar>.container input {
        display: none;
    }

    .user .username {
        display: none;
    }
}